/* HOST ----------------------------------- */
#counter-container {
	min-width: 12.5vw;
	height: 120px;
	padding: var(--gap-ii);
	border-radius: 360px;
	background-color: var(--clr-surface-secondary);
	background-image: url('/public/cut-mat.webp');
	background-position: center;
	background-size: 100%;
	box-shadow: var(--ev-neu-outer-surface-secondary);
	z-index: 6;
}

@keyframes figmata-glow {
	0% {
		filter: drop-shadow(0 0 24px var(--clr-accent-supplementary-a))
			drop-shadow(0 0 56px var(--clr-accent-supplementary-a));
	}
	33% {
		filter: drop-shadow(0 0 24px var(--clr-accent-supplementary-b))
			drop-shadow(0 0 56px var(--clr-accent-supplementary-b));
	}
	66% {
		filter: drop-shadow(0 0 24px var(--clr-accent-supplementary-c))
			drop-shadow(0 0 56px var(--clr-accent-supplementary-c));
	}
	100% {
		filter: drop-shadow(0 0 24px var(--clr-accent-supplementary-d))
			drop-shadow(0 0 56px var(--clr-accent-supplementary-d));
	}
}

/* OUTER ---------------------------------- */
.counter-outer {
	width: 100%;
	height: 100%;
	padding: var(--gap-i);
	border: 1px solid var(--clr-accent-secondary);
	border-radius: 360px;
	background-color: var(--clr-surface-secondary);
	box-shadow: var(--ev-neu-1-surface-secondary);
}

/* INNER ---------------------------------- */
.counter-inner {
	width: 100%;
	height: 100%;
	padding: 0 var(--sp-12);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 360px;
	box-shadow: var(--ev-neu-1-surface-secondary);
}

.counter-inner > span {
	font-family: var(--font-pixel);
	font-size: 1.125rem;
	color: var(--clr-accent-secondary);
	animation-name: figmata-glow;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
