@font-face {
	font-family: 'SF Pixelate';
	src: local('SF Pixelate'), url('/public/font/sf-pixelate/SF\ Pixelate.ttf') format ('truetype');
	font-weight: 500;
	font-display: swap;
}

:root {
	--font-pixel: 'SF Pixelate', monospace;
}
